<?xml version="1.0"?>
<model>
  <name>TurtleDrone</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>
  
  <author>
    <name>Yi Jiahe</name>
    <email>yi.jiahe00@gmail.com</email>
  </author>

  <description>
    Basic turtle based quadcopter for drone simulations.
  </description>
</model> 
